* {
    margin:0;
    padding:0;
}
header {
    background:linear-gradient(to right,lightblue,darkblue);
    width:100%;
}
main {
    display:flex;
    column-gap: 2em;
}
#leftContainer {
    /* making it 20% of the main */
    flex-basis: 20%;
    /* doesn't force divs to shrink when browser changes size */
    flex-shrink: 0;
    margin-left: 1em;
}
#leftContainer, #rightContainer {
    margin-top: 1em;
}
.card {
    background-color: #000000;
    color: #ffffff;
    padding:2em;
    /* changes size twice as much */
    flex-shrink: 2;
}
h1 {
    margin-left: 50%;
    color:#ffffff;
}
h2, h3, p {
    font-size: 2em;
}
button, input {
    width:100%;
    margin-top: 1em;
    font-size: 2em;
}
#search {
    background: blue;
    color:#fff;
    margin-top: .2em;
}
#border {
    border:solid #000;
}
#fiveDays {
    display:flex;
    gap:15px;
}